/* chart-dialog.component.css */

mat-dialog-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  #dialogChartCanvas {
    width: 100% !important;
    height: 500px !important; /* زيادة الحجم */
  }
  
  mat-dialog-title {
    text-align: center;
    font-size: 1.75rem; /* زيادة حجم الخط */
    color: #333;
    margin-bottom: 20px;
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  mat-dialog-actions button {
    background-color: #ee0659;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  mat-dialog-actions button:hover {
    background-color: #d0044b;
  }
  
  .chart-container {
    margin: 20px auto;
  }
  
  .mat-dialog-content {
    overflow: hidden;
  }
  